.header{
    background-color: black;
    color: white;
    text-align: right;
    border: black;
}

.logospoty{
    width: 50px;
    height: auto;
    background-color: black;
    text-align: left;
}

.listado {
    list-style: none;
    display:none;
    gap:10px;
    }
.icono {
    display: flex;
    justify-content: flex-end;
}


.item {
    font-family: roboto;
}

.nav-items {
    color: white;
    text-decoration: none;
}
.Spain {
    background-color: blue;
}
.legal {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    color:black;

}
.cookies {
    
}
footer {
    background-color: black;
}
.banderita {
    color:white;
}