.header{
    background-color: black;
    color: white;
    text-align: right;
    border: black;
}

.logo{
    width: 100px;
    height: auto;
    background-color: black;
    text-align: left;
}

.listado {
    list-style: none;
    display:flex;
    }

.Item {
    font-family: roboto;
}